:root {
    --primary-color: #3B5998;   
    --secondary-color: #e02525;  
    --background-color: #F5F5F5; 
    --text-color: #333333;       
    --accent-color: #D4AF37;     
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h1 {
    font-size: 1.5rem;
    margin: 0;
}

.logo-text p {
    font-size: 0.8rem;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.theme-toggle {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #333;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.theme-toggle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #333;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.hero-container {
    position: relative;
    height: 700px; 
    background-image: url('../images/Market-Timbuktu-Mali_7_76.webp'); 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.ticket-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: var(--text-color);
    font-weight: bold;
    z-index: 10;
}